<table class="table table-hover" style="width: 100%;background-color: #eee;border-radius: 5px;">
  	<thead>
        <tr><th><span class="glyphicon glyphicon-plus" ng-click="clips.push({clips: [], editing: true})"></span></th><th>Title</th><th>Start</th><th>End</th><th></th></tr>
    </thead>
    <tbody>
        <tr class="clickable" ng-repeat="video in clips">
        	<td>
        		<span class="glyphicon glyphicon-play-circle" ng-if="!video.editing" ng-click="playVideo(video)"></span>
        		<span class="glyphicon glyphicon-pause" ng-if="!video.editing" ng-click="$ctrl.playVideo(video)"></span>
        	</td>
            <td>
            	<label ng-if="!video.editing" ng-bind="video.title"></label>
	      		<input ng-if="video.editing" ng-model="video.title" type="text" ></input>
            </td>
          	<td>
	          	<label ng-if="!video.editing" ng-bind="video.start"></label>
		      	<input ng-if="video.editing" ng-model="video.start" type="text"></input>
          	</td>  
            <td>
            	<label ng-if="!video.editing" ng-bind="video.end"></label>
	      		<input ng-if="video.editing" ng-model="video.end" type="text"></input>
            </td>
            <td>
	      		<span class="glyphicon glyphicon-edit" ng-click="video.editing = !video.editing"></span>
		      	<span class="glyphicon glyphicon-trash" ng-if="!video.editing && $index > 0" ng-click="deleteVideo(video)"></span>
            </td>
        </tr>
    </tbody>
</table>