<table class="table table-hover" style="width: 100%;background-color: #eee;border-radius: 5px;">
  	<thead>
        <tr><th><span ng-if="formState.editing" class="glyphicon glyphicon-plus" ng-click="clips.push({clips: [], editing: true})"></span></th><th>Title</th><th>Start</th><th>End</th><th></th></tr>
    </thead>
    <tbody>
        <tr class="clickable" ng-repeat="video in clips">
        	<td>
        		<span class="glyphicon glyphicon-play-circle" ng-if="!video.editing" ng-click="playVideo(video, $index)"></span>
        		<span class="glyphicon glyphicon-pause" ng-if="!video.editing" ng-click="$ctrl.playVideo(video)"></span>
        	</td>
            <td>
	      		<input ng-model="video.title" ng-disabled="!formState.editing || !video.editing" type="text" ></input>
            </td>
          	<td>
		      	<input ng-model="video.start" ng-disabled="!formState.editing || !video.editing" type="text"></input>
          	</td>  
            <td>
	      		<input ng-model="video.end" ng-disabled="!formState.editing || !video.editing" type="text"></input>
            </td>
            <td>
	      		<span 
	      			ng-class="{'glyphicon glyphicon-edit': !video.editing, 'glyphicon glyphicon-floppy-save': video.editing}" 
	      			ng-click="video.editing = !video.editing"
	      			ng-if="$index > 0">
	      		</span>
		      	<span class="glyphicon glyphicon-trash" ng-if="formState.editing && $index > 0" ng-click="deleteVideo(video)"></span>
            </td>
        </tr>
    </tbody>
</table>