<div class="video-player">
	<label>
		Source: <input ng-model="source" type="text"></input>
	</label>
	<label>
		Start: <input ng-model="$ctrl.start" type="text"></input>
	</label>
	<label>
		End: <input ng-model="$ctrl.end" type="text"></input>
	</label>
	<label>
		Title: <input ng-model="$ctrl.title" type="text"></input>
	</label>
	<button ng-click="$ctrl.addClip(source, $ctrl.start, $ctrl.end, $ctrl.title)">Add Clip</button>
	
	<video width="320" height="240" controls class="video-active">
	  <source ng-src="{{ selectedVideo.src }}" type="video/mp4">
	</video>
	<div>
		<table>
		  <thead>
		    <tr>
		      <th style="width:200px">Title</th>
		      <th style="width:50px"">Start</th>
		      <th style="width:50px">End</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="video in clips">
		      <td>
		      	<label ng-if="!video.editing" ng-bind="video.title"></label>
		      	<input ng-if="video.editing" ng-model="video.title" type="text" ></input>
		      </td>
		      <td>
		      	<label ng-if="!video.editing" ng-bind="video.start"></label>
		      	<input ng-if="video.editing" ng-model="video.start" type="text"></input>
		      </td>
		      <td>
		      	<label ng-if="!video.editing" ng-bind="video.end"></label>
		      	<input ng-if="video.editing" ng-model="video.end" type="text"></input>
		      </td>
		      <td> 	<button ng-if="!video.editing" ng-click="$ctrl.playVideo(video)">Play </button>
		      	</td>
		      <td> <button ng-click="video.editing = !video.editing">{{ video.editing ? 'Save' : 'Edit' }} </button></td>
		      <td> <button ng-if="!video.editing && $index > 0" ng-click="$ctrl.deleteVideo(video)">Delete </button></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>