<table class="table table-responsive table-hover">
  	<thead>
        <tr>
        	<th></th>
        	<th>Sources</th>
        	<th>
        	<span ng-if="$ctrl.formState.editing" class="glyphicon glyphicon-plus" ng-click="$ctrl.videos.push({clips: []})"></span>
        	</tr>
    </thead>
    <tbody>
        <tr ng-repeat="video in $ctrl.videos" class="clickable">
            <td>
            	<i ng-click="$ctrl.addVideo(video)" class="glyphicon glyphicon-play-circle"></i>
            </td>
            <td>
            	<input ng-model="video.source" ng-disabled="!$ctrl.formState.editing" placeholder="Source" type="text"></input>
            	<input ng-model="video.title" ng-disabled="!$ctrl.formState.editing" placeholder="Title" type="text">
            	<span class="glyphicon glyphicon-trash" ng-click="$ctrl.deleteVideo(video)"></span>	
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-success" ng-click="$ctrl.saveVideos($ctrl.videos)">Save Sources</button>
<button class="btn btn-danger" ng-click="$ctrl.deleteVideos($ctrl.videos)">Delete Sources</button>