 <div class="home-page">

  <!-- Splash banner that only shows when not logged in -->
  <div class="banner" show-authed="false">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl.appName | lowercase"></h1>
      <p>A place to share your somthing else.</p>
    </div>
  </div>

  <div>
    <div class="row">
      <!-- Main view - contains tabs & article list -->
      <div class="col-md-8">
      	<div ng-repeat="video in $ctrl.selectedVideos">
      		<video-editor video="video"></video-editor>
      	</div>
      </div>

      <!-- Sidebar where popular tags are listed -->
      <div class="col-md-4">
		<table class="table table-responsive table-hover">
		  	<thead>
		        <tr><th></th><th>Source</th><th>Title</th><th></th></tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="video in $ctrl.videos" class="clickable">
		            <td><i ng-click="$ctrl.addVideo(video)" class="glyphicon glyphicon-play-circle"></i></td>
		            <td>
		            	<input ng-model="video.source" type="text"></input>
		            </td>
		          	<td>
		          		<input ng-model="video.title" type="text">
		          	</td>  
		            <td>
						<span class="glyphicon glyphicon-trash" ng-click="$ctrl.deleteVideo(video)"></span>
		            </td>
		        </tr>
		    </tbody>
		</table>
		<button class="btn btn-success" ng-click="$ctrl.videos.push({clips: []})">Add Video</button>
      </div>

      <!-- End the row & container divs -->
    </div>
  </div>

</div>
